$header-height:60px;
$footer-height:30px;
$custom-module-height:30px;
$button-panel-height:105px;
$add-module-height:30px;
$dark-gray:#373737;
$root-directory:'../';
$font-directory:'../fonts/';
@import 'part/all';

/*
@font-face {
    font-family: 'Font';
    src: url('#{$font-directory}b.eot');
    src: url('#{$font-directory}b.eot?#iefix') format('embedded-opentype'), url('#{$font-directory}b.woff2') format('woff2'), url('#{$font-directory}b.woff') format('woff'), url('#{$font-directory}b.ttf') format('truetype'), url('#{$font-directory}b.svg#merriweather_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Font';
    src: url('#{$font-directory}r.eot');
    src: url('#{$font-directory}r.eot?#iefix') format('embedded-opentype'), url('#{$font-directory}r.woff2') format('woff2'), url('#{$font-directory}r.woff') format('woff'), url('#{$font-directory}r.ttf') format('truetype'), url('#{$font-directory}r.svg#merriweather_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}*/



@font-face {
    font-family: 'Icon';
    src:url('#{$font-directory}i-r.eot?-5c11y6');
    src:url('#{$font-directory}i-r.eot?#iefix-5c11y6') format('embedded-opentype'),
        url('#{$font-directory}i-r.woff?-5c11y6') format('woff'),
        url('#{$font-directory}i-r.ttf?-5c11y6') format('truetype'),
        url('#{$font-directory}i-r.svg?-5c11y6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Icon';
    src:url('#{$font-directory}i-b.eot?-5c11y6');
    src:url('#{$font-directory}i-b.eot?#iefix-5c11y6') format('embedded-opentype'),
        url('#{$font-directory}i-b.woff?-5c11y6') format('woff'),
        url('#{$font-directory}i-b.ttf?-5c11y6') format('truetype'),
        url('#{$font-directory}i-b.svg?-5c11y6#icomoon') format('svg');
    font-weight: bold;
    font-style: normal;
}



html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Calibri', serif;
}
#container {
    background: #F5F5F5;
    //background: url('#{$root-directory}/img/grey_wash_wall.png');
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 800px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    //align-items:center;
}
#header {
    box-sizing: border-box;
    height: $header-height;
    width: 100%;
    padding: 16px 30px 0 30px;
    background: $dark-gray;
    color: #ED0000;
    font-size: 2.1em;
    border-bottom: 2px solid black;
    font-weight: 300;
}
#header img{
    height:36px;
}
#main {
    background: #F5F5F5;
    flex: 1 1;
    display: flex;
    min-width: 1000px;
   // max-width: 1700px;
    border: 0 solid black;
    border-width: 0 2px;
    opacity: 0;
    transition: opacity .2s;
}
#main>div{
    display: none;
}
#footer {
    box-sizing: border-box;
    height: $footer-height;
    background: $dark-gray;
    border-top: 2px solid black;
}
#first-panel {
    background: cyan;
    display: flex;
    flex-direction: column;
}
#timesheet {
    background: #F5F5F5;
    flex: 1 1;
    position: relative;
}
#custom-module {
    background: #F5F5F5;
    //border-top: 1px solid black;
}
#second-panel {
    background: yellowgreen;
    flex: 3 7;
    border: 0 solid black;
    border-left-width: 1px;
    display: flex;
    flex-direction: column;
    min-width: 265px;
}
#button-panel {
    background: #F5F5F5;
    border-top: 1px solid black;
}
#third-panel {
    background: powderblue;
    flex: 3 4;
    display: flex;
    flex-direction: column;
    min-width: 230px;
        border: 0 solid black;
    border-left-width: 1px;
}
#course-panel {
    background: #F5F5F5;
    padding: 6px;
    flex: 1 1;
    overflow-y: scroll;
}
*:not(input) {
    user-select: none;
}

