$header-height:60px;
$footer-height:30px;
$custom-module-height:30px;
$button-panel-height:105px;
$add-module-height:30px;
$dark-gray:#303030;
$light-gray:#F0F0F0;
$root-directory:'../';
$font-directory:'../fonts/';
@import 'part/all';
/*
@font-face {
    font-family: 'Font';
    src: url('#{$font-directory}b.eot');
    src: url('#{$font-directory}b.eot?#iefix') format('embedded-opentype'), url('#{$font-directory}b.woff2') format('woff2'), url('#{$font-directory}b.woff') format('woff'), url('#{$font-directory}b.ttf') format('truetype'), url('#{$font-directory}b.svg#merriweather_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Font';
    src: url('#{$font-directory}r.eot');
    src: url('#{$font-directory}r.eot?#iefix') format('embedded-opentype'), url('#{$font-directory}r.woff2') format('woff2'), url('#{$font-directory}r.woff') format('woff'), url('#{$font-directory}r.ttf') format('truetype'), url('#{$font-directory}r.svg#merriweather_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-family: 'Icon';
    src:url('#{$font-directory}i-r.eot?-5c11y6');
    src:url('#{$font-directory}i-r.eot?#iefix-5c11y6') format('embedded-opentype'), url('#{$font-directory}i-r.woff?-5c11y6') format('woff'), url('#{$font-directory}i-r.ttf?-5c11y6') format('truetype'), url('#{$font-directory}i-r.svg?-5c11y6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Icon';
    src:url('#{$font-directory}i-b.eot?-5c11y6');
    src:url('#{$font-directory}i-b.eot?#iefix-5c11y6') format('embedded-opentype'), url('#{$font-directory}i-b.woff?-5c11y6') format('woff'), url('#{$font-directory}i-b.ttf?-5c11y6') format('truetype'), url('#{$font-directory}i-b.svg?-5c11y6#icomoon') format('svg');
    font-weight: bold;
    font-style: normal;
}
* {
    // box-sizing: border-box;
    font-family: Calibri, serif;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: $dark-gray;
}
input {
    font-size: 16px;
}
#container {
    //background: $dark-gray;
    position: absolute;
    max-width: 1920px;
    padding: 0 3px;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 900px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    &.loading {
        #footer {
            opacity: 0;
        }
        #main {
            opacity: 0;
            &>div {
                display: none;
            }
        }
        #img-wrap {
            width: 100%;
        }
    }
}
#header {
    box-sizing: border-box;
    height: $header-height;
    width: 100%;
    padding: 14px 30px 0 42px;
    //background: $dark-gray;
    color: #ED0000;
    font-size: 2.1em;
    font-weight: 300;
}
#img-wrap {
    width: 339px;
    transition: width .8s;
}
#img-wrap img {
    height: 40px;
    margin: 0 auto;
    display: block;
}
#main {
    background: $light-gray;
    flex: 1 1;
    display: flex;
    //align-self: center;
    border: 2px solid black;
    opacity: 1;
    transition: opacity .8s;
}
#footer {
    box-sizing: border-box;
    height: $footer-height;
    //background: $dark-gray;
    overflow: hidden;
    transition: opacity .8s;
}
#footer img {
    float: right;
    height: 32px;
    padding: 6px 20px;
}
#first-panel {
    display: flex;
    flex-direction: column;
}
#timesheet {
    flex: 1 1;
    position: relative;
}
#second-panel {
    flex: 3 7;
    border: 0 solid black;
    border-left-width: 1px;
    display: flex;
    flex-direction: column;
    min-width: 265px;
}
#button-panel {
    border-top: 1px solid black;
}
#third-panel {
    flex: 3 4;
    display: flex;
    flex-direction: column;
    min-width: 265px;
    border: 0 solid black;
    border-left-width: 1px;
}
#course-panel {
    padding: 6px;
    flex: 1 1;
    overflow-y: scroll;
}
#tableInfo {
    display: none;
}
*:not(input) {
    user-select: none;
}
.icon {
    font-family: 'Icon';
}
#container.print {
    #third-panel {
        width: 290px;
        overflow-y: hidden;
        #course-panel {
            overflow-y: hidden;
        }
    }
    #second-panel {
        display: none;
    }
    #time-table tr:last-child>td {
        border-bottom-width: 0;
    }
    #main {
        flex: none;
    }
    #second-panel, #footer, #semester, #add-module, #custom-module, .icon {
        display: none;
    }
    #header {
        background: none;
    }
    #header>img {
        //content:url('../img/title_black.png');
        display: table;
        padding-left: 0;
        margin: 0 auto;
        filter: brightness(-100%);
    }
    #main {
        border-width: 3px;
        border-radius: 4px;
        margin-bottom: 20px;
    }
    #container, #first-panel, #third-panel {
        display: block;
        //  float: left;
        flex: none;
    }
    margin: 0px;
    width: 1100px;
    bottom: auto;
    right: auto;
}
@media only screen and ( max-height: 700px) {
    #header img {
        height: 36px;
    }
    #header {
        height: 50px;
        padding: 10px 30px 0 42px;
        #img-wrap {
            width: 305px;

        }
    }
}
@media print {
    @import 'part/print';
}
