#add-module {
    background: $light-gray;
    border-bottom: 1px solid black;
}
#add-button {
    display: none;
    border-width: 1px;
    &.active {
        display: block;
    }
}
#add-box {
    display: block;
    text-align: left;
    height: 0;
    padding: 0;
    overflow: hidden;
    border-width: 0;
    transition: box-shadow .2s, bottom .2s, background .2s;
    background-color: hsl($hue-add, $sat-hover, $light-hover);
    box-shadow: 0 2px 1px rgba(black, .1), 0 1px 2px rgba(black, .1);
    transition: box-shadow .2s, bottom .2s, background .2s;
    &:hover {
        bottom: 0px;
    }
    &.active {
        display: block;
        box-shadow: 0 2px 1px rgba(black, .1) inset, 0 1px 2px rgba(black, .1) inset;
        background: #FFF;
        height: 34px;
        padding: 6px;
        border-width: 1px;
    }
}
.b-add {
    display: flex;
}
.b-add>.button {
    flex: 1 1;
    padding: 6px;
}
.add-button {
    width: 0;
    overflow: hidden;
    opacity: 0;
    text-align: center;
    line-height: 34px;
    font-family: 'Icon';
    margin: 6px 0px;
    cursor: pointer;
    transition: opacity .2s, width .2s, margin .2s;
    &.active {
        opacity: 1;
        width: 30px;
        margin: 6px;
        &:hover {
            color: #999;
        }
        &:first-child {
            margin-left: 6px;
        }
        &:last-child {
            margin-right: 6px;
        }
    }
}
#add-results {
    height: 0;
    opacity: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: height .2s, opacity .2s;
    border-top: 1px solid black;
    &.active {
        height: 219px;
        background: #E5E5E5;
        opacity: 1;
        box-shadow: 0 0 6px rgba(black, .2) inset;
    }
}
#add-results-list {
    margin: 0;
    padding: 0;
    &>span {
        text-align: center;
        padding: 10px 0;
        display: block;
        color: #444;
    }
    &>li {
        border-bottom: 1px solid black;
        list-style-type: none;
        background: inherit;
        position: relative;
        padding: 12px 30px;
        cursor: pointer;
        text-align: left;
        background-size: 30px 30px;
        transition: box-shadow .2s, padding-left .2s, background .2s, border-width .2s;
        &:hover, &.active {
            background: #FAFAFA;
            padding-left: 35px;
        }
        &.active{
            border-left: 5px solid #3399ff;
             padding-left: 31px;
        }
        &:active {
            background: #DADADA;
        }
        &.loading {
            background-image: linear-gradient( 45deg, #EAEAEA 25%, #FAFAFA 25%, #FAFAFA 50%, #EAEAEA 50%, #EAEAEA 75%, #FAFAFA 75%, #FAFAFA);
            background-size: 30px 30px;
            animation: barberpole 0.5s linear infinite;
        }
        &.loaded {
            background: rgb(158, 234, 158);
            padding-left: 30px;
            cursor: initial;
            &>span {
                color: rgb(84, 141, 84);
            }
        }
        &.error {
            background: rgb(234, 158, 158);
            padding-left: 30px;
            &>span {
                color: rgb(141, 84, 84);
            }
        }
        &>span {
            float: right;
        }
    }
}
.add-collapse.up {
    font-weight: bold;
}
@keyframes barberpole {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 60px 30px;
    }
}
#semester {
    position: relative;
    bottom: 48px;
    height: 0;
}
