#info-panel {
    background: #F5F5F5;
    background: linear-gradient(to bottom, hsl(163,63%,85%) 1%,hsl(0,0%,96%) 25%);
    padding: 24px;
	flex: 1 1;
}

#info-panel div{
	user-select:initial;

}

.info-title{
	font-size: 2em;
}

.info-subtitle, .info-sect{
	font-size:1.1em;
}

.info-session{
	margin: 20px 0;
	line-height: 20px;
}

.info-day{
	border: 1px solid black;
	border-radius: 2px;
	display:inline-block;
	width: 20px;
	text-align: center;
	user-select:none;
	opacity: .3;
}

.info-day.active{
	background: #def;
	opacity: 1;
	user-select: initial;
}
