#info-panel {
    background: #F5F5F5;
    
    flex: 1 1;
    position: relative;
    overflow: hidden;
    display: flex;
}
#info{

    overflow: auto;
    padding: 24px; 
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
}
#info-panel div:not(.info-effect) {
    user-select: initial;
    position: relative;
    z-index: 2;
}
.info-effect {
    position: absolute;
    top: -100px;
    left: -100px;
    right: -100px;
    background: #ddd;
    height: 100px;
    transition: box-shadow .2s;
    z-index: 1;
}
.info-title {
    font-size: 2em;
}
.info-subtitle,
.info-sect {
    font-size: 1.1em;
}
.info-session {
    margin: 20px 0;
    line-height: 20px;
}
.info-day {
    border: 1px solid black;
    border-radius: 2px;
    display: inline-block;
    width: 20px;
    text-align: center;
    user-select: none;
    opacity: .3;
}
.info-day.active {
    background: #def;
    opacity: 1;
    user-select: initial;
}

