
html, body{
      position: absolute;
}

* {
    background: none !important;
}
*:not(.drawClass) {
    box-shadow: none !important;
}
#tableInfo {
    //border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
    table-layout: auto;
    border: 3px solid black;
    border-radius: 3px;
    display: table;
    td {
        border-style: solid;
        overflow: hidden;
        white-space: nowrap;
        border-width: 0 1px 1px 0;
        overflow: hidden;
        &:last-child {
            border-right-width: 0;
        }
        vertical-align: top;
        span {
            font-size: 1em;
            padding: 0;
            display: block;
            margin: 4px;
        }
    }
    tr:last-child>td {
        border-bottom-width: 0;
    }
    th {
        font-size: 1em;
        border-width: 0 1px 1px 0;
        border-style: solid;
        overflow: hidden;
        &:last-child {
            border-right-width: 0;
        }
    }
}
#tableInfo td span strong, #tableInfo th {
    font-weight: 700;
}
#tableInfo .wrap {
    white-space: normal;
}
#totals {
    height: 29px;
    border: 0 solid black;
    border-bottom-width: 1px;
    text-align: center;
    line-height: 29px;
    white-space: nowrap;
    overflow: hidden;
}
